@font-face {
  font-family: Roboto;
  src: url(font/Roboto.ttf);
  font-weight: 100 900;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.illustration {
    flex: 1;
    position: relative;
}

.illustration img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#logo {
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    text-align: center;
    color: azure;
    position: absolute;
    left: 50%;
    bottom: 16em;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: bold;
    padding: 1.5rem;
}



.illustration p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.6em;
}

a {
    color: white;
}

.right-part {
    flex: 2;
}


.form-left-part,
.form-right-part {
    display: flex;
    flex: 1;
    flex-direction: column;
}

input:focus {
    border: 0.1em solid black;
    outline: 0.2em solid rgba(9, 107, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#Password1:invalid,
#Password2:invalid {
    outline: 0.2em solid rgba(255, 0, 0, 0.3);
}

label {
    font-weight: 400;
    font-size: 0.75em;
}

.right-part a {
    color: rgb(211, 142, 22);
    text-decoration: none;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5rem 0rem 2rem;
    gap: 5rem;
}

.form-container h3 {
    margin-left: 2rem;
}

#text {
    font-weight: bold;
    font-size: 1.4em;
    margin: 6rem 5rem 3rem 2rem;
}

.form-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 1rem 2rem 2rem 0;
}

#alr-acc {
    font-weight: 600;
    margin-left: 2rem;
}

button {
    background-color: rgb(211, 142, 22);
    color: white;
    border-radius: 0.5em;
    border: none;
    font-weight: bold; 

    margin: 1.5rem 0 2rem 2rem;
    padding: 0.7rem 2.5rem;
}

button:hover {
    background-color: rgb(165, 111, 18);
    transition: 0.2s;
}

input {
    border: 0.1em solid grey;
    border-radius: 0.2em;
    height: 1.7rem;
    margin-bottom: 1rem;
}